#message-container {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    max-width: max-content;
    flex-direction: column-reverse;
    padding-inline: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.message-container-container {
    width: 500px;
    height: 600px;
    border: 1px black solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.time {
    color: darkslategrey;
    text-align: center;
}

.notification {
    color: gray;
    font-style: italic;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1px;
    line-height: 5px;
}

.message {
    width: 480px;
    white-space: nowrap;
    overflow-wrap: break-word;

    animation: 1.5s 1 forwards message;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*line-height: 5px;*/
}

@keyframes message {
    0% {
        transform: translateX(-150%);
        font-size: 0;
    }

    100% {
        transform: translateX(0);
        font-size: 1em;
    }
}